body{
    /*
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5; replacement(down) */
    font: 15px/1.5/Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: orange;
    color: white;
}
.container{/*global*/
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}
header{
    background-color: gray;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: rgb(6, 223, 53) 10px solid;
}
.container-1{
    width: 80%;
    margin: auto;
    overflow: hidden;
    line-height: 2em;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.operators{
    margin-top: 10px;
    line-height:1.2em;
}
.button{
    margin-top:5px;
    padding: 2px;
    font-size: 30px;
    color:white;
    font-weight: bolder;
    width: 15%;
    background-color: lawngreen;
    border-radius: 15px;
    text-align: center;
}
.footer{
    padding:10px;
    margin-top: 20px;
    color: white;
    background: rgb(5, 197, 245);
    text-align:center;
}
.result{
    background-color: grey;
    border:0px;
    padding:0.001mm;
    border-radius: 15px;
}
#answer{
    text-align: center;
}
@media(max-width:468px){
.button,.container-1{
    display: block;


}